@model HotelRoomReservationSystem.Models.ViewModels.UpdateUserVM

<style>

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .validation-summary ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .validation-summary li {
        margin: 0;
        padding: 0;
        color: red;
        font-weight: bold;
    }

    .validation-error {
        color: red; /* Red text for error message */
    }

    .field-validation-error,
    .validation-summary-errors {
        color: red;
    }

    .input-validation-error {
        border: 2px solid red !important;
        outline: none;
    }


    .modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%); 
        z-index: 1050; 
        max-width: 50%; 
        border-radius: 8px;
        padding: 20px;
    }

    .modal-backdrop {
        position: fixed; /* Ensures it covers the full screen */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
        z-index: 1040; /* Slightly lower z-index than the modal */
    }

    .modal-dialog {
        position: relative;
        margin: auto;
        max-width: 600px; /* Responsive width */
        width: 60%;
    }

    .modal-content {
        border-radius: 8px;
        overflow: hidden;
        /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    }

    .modal-header {
        /* background-color: #f8f9fa; Light gray for header */
        /* border-bottom: 1px solid #ddd; */
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1rem;
    }


    .modal-dialog-centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-footer {
        padding: 10px;
        /* background-color: #f8f9fa; */
        /* border-top: 1px solid #ddd; */
    }

        .modal-footer .btn {
            margin: 0 5px;
        }

    #idwebcam {
        width: 50%;
        height: auto;
        max-width: 360px;
        margin: auto;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    #idcaptured {
        width: 65%;
        height: 50%;
        max-width: 360px;
        margin: auto;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    

    .btn-close {
        color: #333;
        font-size: 1.2rem;
        border: none;
        background: none;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
    }

        .btn-close:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .btn-close::before {
            content: "\2715"; /* Unicode character for a cross symbol */
            font-size: 1.2rem;
            color: #333;
        }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

        .btn-success:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.unobtrusive.min.js"></script>
<script src="/js/app.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/Webcam.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        let cameraActive = false;

        Webcam.set({
            width:360,
            height:260,
            image_format:'jpeg',
            jpeg_quality:75
        });
       $('#captureModal').on('show.bs.modal', function () {
        if (!cameraActive) {
            Webcam.attach('#idwebcam');
            cameraActive = true;
        }
    });

    // Close Camera on Modal Hide
    $('#captureModal').on('hide.bs.modal', function () {
        if (cameraActive) {
            Webcam.reset();
            cameraActive = false;
        }
    });

           $("#btncapture").click(function () {
        Webcam.snap(function (data_uri) {
            $("#idcaptured")[0].src = data_uri; // Set image preview
           $("input[asp-for='Base64Photo']").val(data_uri); // Assign Base64 string to hidden input
           $("#base64PhotoInput").val(data_uri);
        });
    });

        $("#savePhotoButton").click(function () {
            const capturedDataUri = $("#idcaptured").attr("src");
            if (capturedDataUri) {
                $("#profileImage").attr("src", capturedDataUri);

            }
        });

        // Upload Photo Input
        $("#uploadInput").change(function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $("#profileImage").attr("src", e.target.result); // Update Profile Preview
                };
                reader.readAsDataURL(file);
            }
        });


    });

</script>


<nav class="nav nav-borders">
    <a class="nav-link active ms-0" data-ajax="true"  href="#" data-url="/Account/editProfile">Profile</a>
    @* <a class="nav-link" href="#" data-ajax="true" data-url="/Account/_billing">Billing</a> *@
    <a class="nav-link" href="#" data-ajax="true"  data-url="/Account/Security">Security</a>
    @* <a class="nav-link" href="#" data-ajax="true" data-url="/Account/_notification">Notifications</a> *@
</nav>

<div class="row" id="partial-content">
    <div class="container-xl px-4 mt-4">

        <hr class="mt-0 mb-4">
        <form method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">

                <div class="col-xl-4">


                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <label class="upload">
                                
                                <img id="profileImage" class="img-account-profile rounded-circle mb-2" style="width: 200px; height: 200px; object-fit: cover;" src="/images/user_photo/@Model.portrait" alt="">
                                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                <input asp-for="Photo" name="Photo" accept="image/jpeg,image/png" hidden>
                                <span asp-validation-for="Photo" class="validation-error"></span>
                            </label>
                            <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#captureModal">
                                Take Photo
                            </button>
                            <input type="hidden" id="base64PhotoInput" asp-for="Base64Photo" />
                            <span asp-validation-for="Base64Photo" class="validation-error"></span>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="captureModal" tabindex="-1" aria-labelledby="captureModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        @* <h5 class="modal-title" id="captureModalLabel">Take Photo</h5> *@
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="padding:0;"></button>
                                    </div>

                                    <!-- Modal Body -->
                                    <div class="modal-body text-center">
                                        <!-- Webcam Video Stream -->
                                        <div id="idwebcam" class="mb-3"></div>
                                        @* <br /> *@
                                        @* <div style="display:flex;justify-content: center;"> *@
                                        @* 	<button type="button" id="btncapture" class="btn btn-success" style="margin-top: 10px;">Capture</button> *@
                                        @* </div> *@
                                        <p>Captured Image</p>
                                        <img id="idcaptured" class="mb-3" />
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer d-flex justify-content-between">
                                        <div style="display:flex;justify-content: right;">
                                            <button type="button" class="btn btn-primary" id="savePhotoButton">Save Photo</button>
                                            <button type="button" id="btncapture" class="btn btn-success">Capture</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                   
                    
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">User ID</label>
                                <input asp-for="@Model.id" class="form-control" id="inputUsername" type="text" placeholder="Enter your username" readonly>

                            </div>

                            <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input asp-for="FirstName" class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" >
                                    <span asp-validation-for="FirstName" class="validation-error"></span>
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input asp-for="LastName" class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" >
                                    <span asp-validation-for="LastName" class="validation-error"></span>

                                </div>
                            </div>



                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input asp-for="Email" class="form-control" id="inputEmailAddress" type="text" readonly>
                                <span asp-validation-for="Email" class="validation-error"></span>
                            </div>

                            <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input asp-for="PhoneNum" class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" >
                                    <span asp-validation-for="PhoneNum" class="validation-error"></span>
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">Birthday</label>
                                    @* <input asp-for="BirthDays" type="date" placeholder="BirthDay"> *@
                                    @* <span asp-validation-for="BirthDays" class="validation-error"></span> *@

                                    <input asp-for="BirthDay" class="form-control"  type="date" placeholder="BirthDay">
                                    <span asp-validation-for="BirthDay" class="validation-error"></span>

                                </div>
                            </div>
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Save changes</button>

                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '@TempData["SuccessMessage"]'
        });
    </script>
}
<script>
        document.addEventListener('DOMContentLoaded', function () {
    //     Get references to elements
    //     const uploadButton = document.getElementById('uploadButton');
    //     const portraitInput = document.getElementById('Portrait');

    //     Add event listener to the button
    //     uploadButton.addEventListener('click', function () {
    //         portraitInput.click(); Trigger the hidden file input
    //     });

    //     portraitInput.addEventListener('change', function () {
    //     const file = portraitInput.files[0];
    //     if (file && (file.type === "image/jpeg" || file.type === "image/png")) {
    //         const reader = new FileReader();
    //         reader.onload = function (e) {
    //             profileImage.src = e.target.result; Update the image source
    //         };
    //         reader.readAsDataURL(file);
    //     } else {
    //         alert("Please select a valid JPG or PNG image.");
    //     }
    // });
        $('.upload input').on('change', e => {
        const f = e.target.files[0];
        const img = $(e.target).siblings('img')[0];

        img.dataset.src ??= img.src;

        if (f && f.type.startsWith('image/')) {
            img.onload = e => URL.revokeObjectURL(img.src);
            img.src = URL.createObjectURL(f);
        }
        else {
            img.src = img.dataset.src;
            e.target.value = '';
        }

        // Trigger input validation
        $(e.target).valid();
    });
    });
</script>
<script type="text/javascript">
     $(document).ready(function () {
        $('.nav-link[data-ajax="true"]').on('click', function(e) {
            e.preventDefault();
            var url = $(this).data('url');

            if (url) {
                window.location.replace(url); 
            }
        });
    });
</script>