 @model HotelRoomReservationSystem.Models.ViewModels.RegistrationVM
 @inject IConfiguration configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = Context.Session.GetString("UserId");
    var siteKey = configuration["RecaptchaSettings:SiteKey"];
}

<script type="text/javascript">
    var onloadCallback = function() {
      grecaptcha.render('html_element', {
          'sitekey' : '@siteKey'
        });
    };

    function onSubmit(event){
        var token = grecaptcha.getResponse();
        document.getElementById("recaptchaTokenInputId").value = token;
       
      console.log("Token Received: ", token);

    }

        window.onload = function () {
        document.getElementById("recaptchaTokenInputId").value = "";
    };


</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>

<link rel="stylesheet" href="/css/loginNregister.css" type="text/css" />

<div id="container">
    <div class="left-section">
        <div class="illustration">
            <!-- <img src="loginViews.jpg" alt="Illustration" style="object-fit: cover;"> -->
        </div>
    </div>
    <div class="right-section">
        <div class="form-container">
           
            <h1>Welcome to our Hotel Website!</h1>
            <p>Please enter your details</p>
            <form method="post" onsubmit="onSubmit(event)">
                
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <input asp-for="FirstName" type="text" placeholder="Name" >
                    <span asp-validation-for="FirstName" class="validation-error"></span>
                </div>
                <div class="form-group password-group">
                    <input asp-for="LastName" type="text" placeholder="Lastname" >
                    <span asp-validation-for="LastName" class="validation-error"></span>
                </div>
                
                
                <div class="form-group" >
                    
                    <input asp-for="BirthDay" type="date" placeholder="BirthDay">
                    <span asp-validation-for="BirthDay" class="validation-error"></span>
                </div>

                <div class="form-group password-group">
                    <input asp-for="Email"  type="email" placeholder="Email" >
                    <span asp-validation-for="Email" class="validation-error"></span>
                </div>

                <div class="form-group password-group">
                    <input asp-for="PhoneNum" type="text" placeholder="PhoneNum">
                    <span asp-validation-for="PhoneNum" class="validation-error"></span>
                </div>

                <div class="form-group password-group">
                    <input asp-for="Password" id="password" type="password" placeholder="Password" >
                    <svg id="togglePassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                    </svg>
                    <span asp-validation-for="Password" class="validation-error"></span>
                </div>
                <div class="form-group password-group">
                    <input asp-for="Password2" id="confPass" type="password" placeholder="Confirm Password" >
                    <svg id="toggleConPassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                        <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                    </svg>
                    <span asp-validation-for="Password2" class="validation-error"></span>
                </div>

                 <div class="form-group password-group">
                    <div id="html_element"></div>
                    <input id="recaptchaTokenInputId" class="hidden-field" asp-for="RecaptchaToken" />
                    <span asp-validation-for="RecaptchaToken" class="validation-error"></span>
                 
                 </div>
                

                <button type="submit" class="signup-btn">Sign Up</button>
                
            </form>
            <p class="login-link">
                Already have an account? <a href="/Account/LoginForm">Login</a>
            </p>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.unobtrusive.min.js"></script>
<script src="/js/app.js" asp-append-version="true"></script>
