<!-- Page Preloder -->

<div id="preloder">
    <div class="loader"></div>
</div>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">
<link rel="stylesheet" href="/css/bootstrapss.min.css">
<link rel="stylesheet" href="/css/animate.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousels.min.css" type="text/css">
<link rel="stylesheet" href="/css/aos.css" type="text/css">
<link rel="stylesheet" href="/css/bootstrap-datepicker.css" type="text/css">
<link rel="stylesheet" href="/css/jquery.timepicker.css" type="text/css">
<link rel="stylesheet" href="/css/fancybox.min.css" type="text/css">
<link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css" type="text/css">
<link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/styless.css">
<style>
    .validation-summary li {
        margin: 0;
        padding: 0;
        color: red;
        font-weight: bold;
    }

    .validation-error {
        color: red; /* Red text for error message */
    }

    .field-validation-error,
    .validation-summary-errors {
        color: red;
    }

    .input-validation-error {
        border: 2px solid red !important;
        outline: none;
    }
</style>
<section class="site-hero inner-page overlay" style="background-image: url(/images/hero_4.jpg)" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
            <div class="col-md-10 text-center" data-aos="fade">
                <h1 class="heading mb-3">Contact</h1>
                <ul class="custom-breadcrumbs mb-4">
                    <li><a href="/Home/Index">Home</a></li>
                    <li>&bullet;</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>

    <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
            <span class="mouse-wheel"></span>
        </div>
    </a>
</section>
<!-- END section -->

<section class="section contact-section" id="next">
    <div class="container">
        <div class="row">
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">

                <form class="bg-white p-md-5 p-4 mb-5 border">
                    
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control ">
                            <span class="validation-error"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" class="form-control ">
                            <span class="validation-error"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control ">
                            <span class="validation-error"></span>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12 form-group">
                            <label for="message">Write Message</label>
                            <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                            <span class="validation-error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="button" value="Send Message" class="btn btn-primary text-white font-weight-bold submit-button">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-5" data-aos="fade-up" data-aos-delay="200">
                <div class="row">
                    <div class="col-md-10 ml-auto contact-info">
                        <p><span class="d-block">Address:</span> <span> 77, Lorong Lembah Permai 3, 11200 Tanjung Bungah, Pulau Pinang</span></p>
                        <p><span class="d-block">Phone:</span> <span> 04-899 5230</span></p>
                        <p><span class="d-block">Email:</span> <span> manager@gmail.com</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.53781216072!2d101.7265571!3d3.2152551999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc3843bfb6a031%3A0x2dc5e067aae3ab84!2sTunku%20Abdul%20Rahman%20University%20of%20Management%20and%20Technology%20(TAR%20UMT)!5e0!3m2!1sen!2smy!4v1735369795948!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>



<section class="section bg-image overlay" style="background-image: url('/images/hero_4.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
                <h2 class="text-white font-weight-bold">A Best Place To Stay. Reserve Now!</h2>
            </div>
            <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
                <a href="/Rooms" class="btn btn-outline-white-primary py-3 text-white px-5">Reserve Now</a>
            </div>
        </div>
    </div>
</section>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousels.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.timepicker.min.js"></script>
<script src="/js/mains.js"></script>
<script>
     $(document).ready(function () {
                        $('.submit-button').on('click', function () {
        const formData = {
            Name: $('#name').val(),
            Phone: $('#phone').val(),
            Email: $('#email').val(),
            Message: $('#message').val()
        };

        Swal.fire({
            title: 'Are you sure?',
            text: `Submit message to management.`,
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, submit it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Home/ContactForm',
                    type: 'POST',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Message Sent!',
                                text: response.message,
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                    $('input.form-control').removeClass('input-validation-error');
                                $('form').trigger('reset');
                                
                            });
                        } else {
                            Swal.fire({
                                title: 'Error!',
                                text: response.message,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });

                            // Clear all existing validation errors
                            $('.validation-error').text('');
                                $('input.form-control').removeClass('input-validation-error');

                                    if (response.errors) {
                        for (const key in response.errors) {
                            // Sanitize field selector
                            const sanitizedKey = key.replace(/[^a-zA-Z0-9]/g, '').toLowerCase();
                            $(`#${sanitizedKey}`).siblings('.validation-error').text(response.errors[key][0]);
                                 $(`#${sanitizedKey}`).addClass('input-validation-error');
                        }
                    }
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while sending the message. Please try again.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Cancelled',
                    text: 'Your message was not sent.',
                    icon: 'info',
                    confirmButtonText: 'OK'
                });
            }
        });
    });
});
</script>